#about {
    padding-top: 70px;
    padding-bottom: 80px;
}

#about p {
    font-size: 1.30em;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    margin-top: 100px;
    line-height: 180%;
    z-index: 1;
    font-weight: 300;
}

#about span {
    font-weight: 900;
}

.the_circles {
    margin-top: 175px;
}

.outer_left {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background: #e5eaee;
    display: inline-block;
    margin-bottom: 62.5px;
    margin-right: 80px;
}

.inner_left {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background: #e5eaee;
    display: inline-block;
    margin-bottom: 62.5px;
    margin-right: 50px;
}

.inner_right {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background: #e5eaee;
    display: inline-block;
    float: right;
    margin-right: 100px;
}

.outer_right {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background: #e5eaee;
    display: inline-block;
    float: right;
    margin-right: 
}

.pic {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background: #e5eaee;
    margin-top: -250px;
}



@media screen and (max-width: 1199px) {
    .spec {
        visibility: hidden;
        position: absolute;
        z-index: 0;
    }
    .pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: -85px;
    margin-bottom: -15px;
    }
    
    #about p {
        font-size: 1.1em;
    }
}
