#portfolio {
    padding-top: 49px;
    padding-bottom: 100px;
}

#portfolio .to {
    margin-top: 140px;
}

#portfolio .row .col-xs-2 {
    padding-top: 3%;
}

#portfolio img{
    height: 6vw;
    width: 6vw;
}

.info {
    text-align: center;
    font-size: 1.5em;
    color: black;
    margin-top: 5%;
}

.text {
    text-align: center;
    font-size: 1em;
    color: black;
    margin-top: 15px;
    visibility: hidden;
}

#twitch:hover .text {
    visibility: visible;
}

#pomo:hover .text {
    visibility: visible;
}

#wiki:hover .text {
    visibility: visible;
}

#simon:hover .text {
    visibility: visible;
}

#calculator:hover .text {
    visibility: visible;
}

#weather:hover .text {
    visibility: visible;
}

@media screen and (max-width: 990px) {
    .text {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 488px) {
    .text {
        font-size: 0.7em;
    }
}