#skills {
    padding-top: 49px;
    padding-bottom: 100px;
}

#top  {
    margin-top: 140px;
    margin-left: 15%;
}

#mid, #bot  {
    margin-top: 40px;
    margin-left: 15%;
}

.left_rec, .right_rec {
    height: 7px;
    width: 54.2%;
    background: #dbdbdb;
    position: absolute;
    z-index: 0;
}

.left_pink_rec, .right_pink_rec {
    height: 7px;
    width:1%;
    background: #ff005c;
    position: absolute;
    z-index: 1;
}

.one.animate {
    transition: width 2s;
    width: 40.2%;
}

.two.animate {
    transition: width 2s;
    width: 38.2%;
}

.three.animate {
    transition: width 2s;
    width: 50.2%;
}

.four.animate {
    transition: width 2s;
    width: 45.2%;
}

.five.animate {
    transition: width 2s;
    width: 48.2%;
}

@media screen and (max-width: 991px) {
    #top, #mid, #bot {
        margin-left: 10%;
    }
    
    #mid, #bot {
        margin-top: 25px;
    }
}

@media screen and (max-width: 767px) {
    #top {
        margin-top: 100px;
    }
    .left_rec, .right_rec {
        width: 80.2%;
    }
    
    .normal {
        width:50%;
        margin-right: auto;
        margin-left: auto;
    }
    
    #oddone {
        margin-top: 25px;
    }
    
    .one.animate {
        transition: width 2s;
        width: 66.2%;
    }

    .two.animate {
        transition: width 2s;
        width: 61.2%;
    }

    .three.animate {
        transition: width 2s;
        width: 76.2%;
    }

    .four.animate {
        transition: width 2s;
        width: 71.2%;
    }

    .five.animate {
        transition: width 2s;
        width: 74.2%;
    }
}

@media screen and (max-width: 449px) {
    #skills p {
        font-size: 10px;
    }
}