#skills {
    padding-top: 49px;
    padding-bottom: 100px;
}

#skills h3 {
    font-family: "Fira Sans";
    color: #0690d7;
    margin-top: 60px;
    text-align: center;
}

#skills p {
    font-family: "Fira Sans";
}

#top  {
    margin-top: 140px;
    margin-left: 15%;
}

#mid  {
    margin-top: 40px;
    margin-left: 15%;
}

#bot  {
    margin-top: 40px;
    margin-left: 15%;
}

.left_rec {
    height: 7px;
    width: 54.2%;
    background: #dbdbdb;
    position: absolute;
    z-index: 0;
}

.left_pink_rec {
    height: 7px;
    width: 50px;
    background: red;
    position: absolute;
    z-index: 1;
}

.right_rec {
    height: 7px;
    width: 54.2%;
    background: #dbdbdb;
    position: absolute;
    z-index: 1;
}

.right_pink_rec {
    height: 7px;
    width: 50px;
    background: red;
    position: absolute;
    z-index: 1;
}

@media screen and (max-width: 991px) {
    #top, #mid, #bot {
        margin-left: 10%;
    }
    
    #mid, #bot {
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    #top {
        margin-top: 100px;
    }
    .left_rec, .right_rec {
        width: 80.2%;
    }
    
    .normal {
        width:50%;
        margin-right: auto;
        margin-left: auto;
    }
    
    #oddone {
        margin-top: 20px;
    }
}

@media screen and (max-width: 449px) {
    #skills p {
        font-size: 10px;
    }
}