@import "nav.css";
@import "page-top.css";
@import "about.css";
@import "skills.css";
@import "portfolio.css";
@import "contact.css";

* {
    font-family: "Fira Sans";
}

h3 {
    font-family: "Open Sans";
    font-weight: 700;
    color: #e1c185;
    margin-top: 60px;
    text-align: center;
}

